* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* HEADER */
header {
    background-image: url(../img/wall.png);
}

h1 {
    text-align: center;
    padding: 10px 0px;
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 60px;
}

/* CARD */

main {
    background-image: url(../img/cork.png);
}

.card-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.foto-card {
    width: 200px;
}

.card-date {
    font-family: "Sometype Mono", monospace;
}

.card-title {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}