* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* HEADER */
header {
    background-image: url(../img/wall.png);
}

h1 {
    text-align: center;
    padding: 10px 0px;
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 60px;
}

/* CARD */

main {
    background-image: url(../img/cork.png);
    min-height: 100vh;
}

.card-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.card {
    background-color: white;
    position: relative;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid;
    box-shadow: 2px 3px;
    width: calc((100% / 3) - (40px / 3));
    transition: transform 0.3s ease;
}

.card:hover {
    transform: rotate(10deg) scale(1.05);
}

.foto-card {
    width: 100%;
}

#pin {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%)
}

.card-date {
    font-family: "Sometype Mono", monospace;
}

.card-title {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


/* RESPONSIVE 880PX */

@media screen and (max-width: 880px) {
    .card {
        width: calc((100% / 2) - (40px / 2));
    }
}

/* RESPONSIVE 550PX */

@media screen and (max-width: 550px) {
    .card {
        width: 100%
    }
}